html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  grid-area: header;
  margin: 1rem;
  padding: 0;
  grid-row: 1/ -1;
  grid-column: 1 / 3;
}

body {
  margin: 0;
  background-color: #f2f1ed;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr;
  grid-template-areas:
    "header header"
    "figure figure";
}

main {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

h2 {
  font-family: "Patua One", sans-serif;
  color: #30658d;
}

p {
  color: #000;
}

.pano {
  padding: 1rem;
  z-index: 0;
  grid-column: 1 / 3;
  grid-row: 1/ 3;
}

figure {
  margin: 0;
}

ul {
  font-family: "Patua One", cursive;
  display: flex;
}

li {
  padding: 1rem;
  text-decoration: none;
}

a {
  color: #fff;
  font-size: 2rem;
}

nav {
  z-index: 1;
  grid-column: 2;
  grid-row: 1;
}
