html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr;
  grid-template-areas:
    "header header"
    "figure figure";
}

main {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 0rem;
}

h2 {
  font-family: 'Patua One', cursive;
  color: #30658d;
}

p {
  font-family: 'Georgia', cursive;
  color: #000;
}

.pano {
 padding: 1rem;
}

figure {
  margin: 0;
}
